.THIS .contentPanel:before,
.THIS .contentPanel:after {
    content: " ";
    display: table;
}
.THIS .contentPanel:after {
    clear: both;
}
.THIS .contentPanel {
    height: 100vh;
    width: 100vw;
}
.THIS .centerheader {
    background-color: #efeeee;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 70px;
    border: 1.5px solid #eaeaea;
}
.THIS .menu {
    margin: 0;
    width: 180px;
    float: left;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 2px 0px 5px -1px rgba(110,110,110,1);
    -moz-box-shadow: 2px 0px 5px -1px rgba(110,110,110,1);
    box-shadow: 2px 0px 5px -1px rgba(110, 110, 110, 0.25);
}

.THIS .content{
    width: 100%;
    margin: 0;
    
    padding: 2%;
    padding-left: 215px;
    background-color: #F2F2F2;

    /* height: 100%; */
    height: 100%;
    padding-bottom: 0;
}

.THIS .innercontent{
    background-color: white;
    width: 100%;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(110, 110, 110, 0.13);
    -moz-box-shadow: 0px 0px 6px 3px rgba(110, 110, 110, 0.13);
    box-shadow: 0px 0px 6px 3px rgba(110, 110, 110, 0.13);
    
    /*height: 90%;*/
    /*overflow: auto;*/

    padding-bottom: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: hidden;
}

/*
.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  .THIS  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  */
.THIS .row{
    height: 100%;
    padding-top: 70px;
}
.THIS .row:after {
    content: "";
    display: table;
    clear: both;
}


/* Test CSS */
.THIS .navbar-item{
    display: flex;
    padding: 10%;
    margin: 0;
}

.THIS .navbar-item img{
    margin-right: 8%;
}

.THIS .selected{
    background-color: red;
    border-left: 6px solid red;
}

.THIS .navbar-container{
    height: 100%;
}

.THIS .navbar-item:hover{
    background-color:white;
    cursor: pointer;
}